
<div class='container'>


<h1>Generador de Tramas</h1>


<form ng-submit='agregar(data)'>


      <div class="form-group">        <label for="usr">DNI:</label>
        <input type="text" ng-model='data.dni' class="form-control" required id="usr">
      </div>


      <div class="form-group">
        <label for="usr">Codigo de Actualizacion:</label>
        <input type="text" ng-model='data.code' required class="form-control" required id="usr">
      </div>

      <div class="form-group">
        <button type="submit"  class="btn btn-default" id="usr">Agregar DNI</button>
      </div>

</form>

<form class="form-inline" ng-submit='genera_trama(base)'>
    
    <div class="form-group">
      <label for='ct'>Nro.Cuenta Bancaria</label>
      <input type="texttext" class="form-control" ng-model='base.cuenta_bancaria' required id="ct" placeholder="Nro.Cuenta Bancaria">
    </div>


    <div class="form-group">
      <label for='dni'>DNI</label>
      <input type="text" class="form-control" ng-model='base.dni' disabled id="dni" placeholder="DNI">
    </div>


    <div class="form-group">
       <label for='plan'>Plan</label>
       <input type="text" class="form-control" ng-model='1' disabled required id="plan" placeholder="Plan">
    </div>


    <div class="form-group">
      <label for='tipoc'>Tipo de Cobertura</label>
      <input type="text" class="form-control" ng-model='MO' required id="tipoc" placeholder="Tipo de Cobertura">
    </div>


    <div class="form-group">
      <label for='fee'>Fecha de Efectividad</label>
      <input type="text" class="form-control" ng-model='20170101' disabled id="fee" placeholder="Fecha de Efectividad">
    </div>


    <div class="form-group">
      <label for='ven'>Vendedor</label>
      <input type="text" class="form-control" ng-model='base.nombre_agente' disabled id="ven" placeholder="Vendedor">
    </div>


    <div class="form-group">
      <label for='cdt'>Tipo de Tarjeta de Credito</label>
      <input type="text" class="form-control" ng-model='base.tipo_tarjeta' disabled id="cdt" placeholder="Tipo de Tarjeta de Credito">
    </div>


    <div class="form-group">
      <label for='nc'>Nombre Cliente</label>
      <input type="text" class="form-control" ng-model='base.nombre' disabled id="nc" placeholder="Nombre Cliente">
    </div>


    <div class="form-group">
      <label for='dist'>Distrito</label>
      <input type="text" class="form-control" ng-model='base.distrito'  id="dist" placeholder="Distrito">
    </div>


    <div class="form-group">
      <label for='prov'>Provincia</label>
      <input type="text" class="form-control" ng-model='base.provincia'  id="prov" placeholder="Provincia">
    </div>


    <div class="form-group">
      <label for='depa'>Departamento</label>
      <input type="text" class="form-control" ng-model='base.departamento' id="depa" placeholder="Departamento">
    </div>


    <div class="form-group">
      <label for='telfc'>Telefono</label>
      <input type="text" class="form-control" ng-model='base.telefono1' disabled id="telfc" placeholder="Telefono">
    </div>


    <div class="form-group">
      <label for='fn'>Fecha de Nacimiento</label>
      <input type="text" class="form-control" ng-model='base.fecha_nacimiento' required id="fn" placeholder="Fecha de Nacimiento">
    </div>


    <div class="form-group">
      <label for='sex'>Sexo</label>
      <select  class="form-control" ng-model='base.sexo' required id="sex" placeholder="Sexo">
      <option></option>
      <option value='M'>Masculino</option>
      <option value='F'>Femenino</option>
      </select>
    </div>


    <div class="form-group">
      <label for='mail'>E-mail</label>
      <input type="text" class="form-control" ng-model='base.mail' disabled id="mail" placeholder="E-mail">
    </div>



     <div class="form-group">
      <label for='ca'>Codigo de Autorizacion</label>
      <input type="text" class="form-control" ng-model='base.reference3' required id="ca" placeholder="Codigo de Autorizacion">
    </div>


     <div class="form-group">
      <label for='fe'>Fecha de Expiracion</label>
      <input type="text" class="form-control" ng-model='base.fecha_vencimiento' required id="fe" placeholder="Fecha de Expiracion">
    </div>

    







    <div class="form-group">
    <button type="submit" class="btn btn-default">Generar Trama</button>
    </div>

</form>



<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>




</div>