
<form>

								<div class="form-group">
									<label for="nombre">Nombre</label>
									<input disabled required type="text" class="form-control"  ng-model='cliente.nombre' id="nombre" >
								</div>

								<div class="form-group">
									<label for="dni">DNI</label>
									<input disabled required type="text" class="form-control"  ng-model='cliente.dni' id="dni" >
								</div>


								<div class="form-group">
									<label for="telefono">Telefono</label>
									<input disabled required type="text" class="form-control"  ng-model='cliente.telefono' id="telefono" >
								</div>

								<div class="form-group">
									<label for="direccion">Direccion</label>
									<input disabled required type="text" class="form-control"  ng-model='cliente.direccion' id="direccion" >
								</div>

								</form>