				<legend>Ventas CHUBB</legend>



								
								<div class="form-group">
									<label for="nombre">Nombre Apellido Completos</label>
									<input  required type="text" class="form-control"  ng-model='cliente.nombre'  id="nombre">
								</div>


								<div class="form-group">
									<label for="dni">DNI</label>
									<input  required type="text" class="form-control"  ng-model='cliente.dni'  id="dni">
								</div>


			

								<div class="form-group">
									<label for="direccion">Fecha de Nacimiento</label>
									<input  required type="text" class="form-control"  ng-model='cliente.nacimiento' id="direccion" >
								</div>

								<div class="form-group">
									<label for="distrito">Numero de Celular</label>
									<input  required type="text" class="form-control"  ng-model='cliente.celular' id="distrito" >

								</div>

								<div class="form-group">
									<label for="departamento">Numero de telefono Fijo</label>
									<input  required type="text" class="form-control"  ng-model='cliente.fijo' id="departamento" >
								</div>

								<div class="form-group">
									<label for="correo">Correo Electronico</label>
									<input  required type="text" class="form-control"  ng-model='cliente.mail' id="correo" >
								</div>

								<div class="form-group">
									<label for="nacimiento">Nombre del Producto</label>
									<input  required type="text" class="form-control"  ng-model='cliente.nproducto' id="nacimiento" >
								</div>

								<div class="form-group">
									<label for="dni">Cantidad</label>
									<input  required type="text" class="form-control"  ng-model='cliente.cantidad'  id="dni">
								</div>

								<div class="form-group">
									<label for="dni">Tipo de Cobertura</label>
									<input  required type="text" class="form-control"  ng-model='cliente.tcobertura'  id="dni">
								</div>

								<div class="form-group">
									<label for="dni">Direccion</label>
									<input  required type="text" class="form-control"  ng-model='cliente.direccion'  id="dni">
								</div>

								<div class="form-group">
									<label for="dni">Tipo de Envio</label>
									<input  required type="text" class="form-control"  ng-model='cliente.tenvio'  id="dni">
								</div>

								<div class="form-group">
									<label for="dni">Prima</label>
									<input  required type="text" class="form-control"  ng-model='cliente.prima'  id="dni">
								</div>

								<div class="form-group">
									<label for="dni">Todo Prima</label>
									<input  required type="text" class="form-control"  ng-model='cliente.tprima'  id="dni">
								</div>


